<h1 mat-dialog-title> Edit Customer</h1>
<div mat-dialog-content>
 
  <form [formGroup]="customerForm">
    <div class="d-flex flex-column gap-2">

      <label>
        FirstName:
        <input class="form-control my-2" formControlName="firstName" placeholder="Your firstName">
      </label>
    </div>
    <div class="d-flex flex-column gap-2">

      <label>
        Lastname:
        <input class="form-control my-2" formControlName="lastName" placeholder="Your lastName">
      </label>
    </div>
    <div class="d-flex flex-column gap-2">

      <label>
        Phone:
        <input class="form-control my-2" formControlName="phoneNumber" placeholder="Your phoneNumber" class="form-control my-2">
      </label>
    </div>
    <div class="d-flex flex-column gap-2">

      <label>
        Email:
        <input class="form-control my-2" formControlName="email" placeholder="Your email" [readonly]="true" style="color:#7c7c7c">
      </label>
    </div>
    <div class="d-flex flex-column gap-2">

      <label>
        Bank Account Number:
        <input class="form-control my-2" formControlName="bankAccountNumber" placeholder="Your bankAccountNumber">
      </label>
    </div>
    <div class="d-flex flex-column gap-2">

      <label>
        Date of Birth:
        <div class="d-flex flex-row my-2">
          <mat-form-field appearance="fill">
              <mat-label>{{this.customerForm.controls['dateOfBirth'].value}}</mat-label>
              <input matInput [matDatepicker]="picker" class="form-control " formControlName="dateOfBirth">
              <mat-datepicker-toggle matSuffix  [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
  </div>
      </label>
    </div>
    <button class="btn btn-secondary" (click)="onSubmit()" type="submit">Send</button>
  </form>
</div>