

<div class="d-flex flex-row p-3 gap-3">
  <div class="w-50">
    <app-form></app-form>
  </div>
  <div class="w-50">
    <div class="d-flex flex-column gap-3">
      <app-search></app-search>
      <!-- <button (click)="generaterRandomUser()" type="button" class="btn btn-primary">generate random customer</button> -->
      <button (click)="clearAll()" type="button" class="btn btn-primary">clear all customer </button>
    </div>
  </div>
</div>

<app-table [tableData]="AllCustomers"></app-table>