<!-- <div (click)="generaterRandomUser()">gemerate random user</div>
  <div (click)="showLocal()">showlocal</div>
  <div (click)="onSubmit()">submit</div>
  <div (click)="clearAll()">clear</div>

  <div>search here:
    <input [(ngModel)]="searchItem">
  </div>
  <div (click)="search()">searchh</div> -->

<div class="d-flex flex-row p-3 gap-3">
  <div class="w-50">
    <app-form></app-form>
  </div>
  <div class="w-50">
    <div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="search customers" aria-label="Search Customers Here" 
        [(ngModel)]="searchItem"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2" (click)="search()">search</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-table [tableData]="AllCustomers"></app-table>