

<div class="d-flex flex-row p-3 gap-3">
  <div class="w-50">
    <app-form [searchItem]="searchedCustomer"></app-form>
  </div>
  <div class="w-50">
    <div class="d-flex flex-column gap-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="search customers by email "  
        [(ngModel)]="searchItem"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2" (click)="search()">search</span>
        </div>
      </div>

      <button (click)="generaterRandomUser()" type="button" class="btn btn-primary">generate random customer</button>
      <button (click)="clearAll()" type="button" class="btn btn-primary">clear all customer </button>
    </div>
  </div>
</div>

<app-table [tableData]="AllCustomers"></app-table>