<form [formGroup]="customerForm">
    <div class="gap-2">

        <div class="form-group row">
            <label class=" col-form-label mt-2">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="firstName" placeholder="FirstName">
                <div class="error" *ngIf="this.customerForm.controls['firstName'].errors &&this.customerForm.controls['firstName'].touched"
                    >You should fill this field!</div>
            </div>
        </div>
        <div class="form-group row">
            <label class=" col-form-label mt-2">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="lastName" placeholder="LastName">
                <div class="error" *ngIf="this.customerForm.controls['lastName'].errors &&this.customerForm.controls['lastName'].touched"
                    >You should fill this field!</div>
            </div>
        </div>

        <div class="form-group row">
            <label class=" col-form-label mt-2">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                <div class="error" *ngIf="this.customerForm.controls['email'].errors && this.customerForm.controls['email'].touched"
                    >{{getEmailError()}}</div>

            </div>
        </div>
        <div class="form-group row">
            <label class=" col-form-label mt-2">Phone Number</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" formControlName="phoneNumber" placeholder="PhoneNumber">
                <div class="error" *ngIf="this.customerForm.controls['phoneNumber'].errors && this.customerForm.controls['phoneNumber'].touched"
                    >{{getPhoneError()}}</div>
            </div>
        </div>
        <div class="form-group row">
            <label class=" col-form-label mt-2">Bank Account Number</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" formControlName="bankAccountNumber"
                    placeholder="Bank Account Number">
                <div class="error" *ngIf="this.customerForm.controls['bankAccountNumber'].errors && this.customerForm.controls['bankAccountNumber'].touched"
                    >You should fill this field!</div>
            </div>
        </div>


        <div class="form-group row">
            <label class=" col-form-label mt-2">Date Of Birth</label>
            <div class="d-flex flex-row">
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

        </div>


        <div class="form-group row">
            <div class="col-sm-10 mt-2">
                <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
                <div class="error" *ngIf="formError">{{formError}}</div>
            </div>
        </div>
    </div>
</form>