<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">PhoneNumber</th>
        <th scope="col">Bank Account</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData">
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phoneNumber}}</td>
        <td>{{item.bankAccountNumber}}</td>
        <td>{{getDate(item.dateOfBirth)}}</td>
        <td (click)="openDialog(item)">edit</td>
        <td (click)="deleteItem(item)">delete</td>
      </tr>

    </tbody>
  </table>